@{
    ViewData["Title"] = "Home Page";
}

  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A personal project developed to demonstrate .NET and VueX technologies</p>
    <p>- <i>Luke Gibbins</i></p>
  </div>
