.vs
vuex-personal.
vuex-personal/obj
vuex-personal/wwwroot/bundle-files
.vs
.vs/vuex-personal/v16
vuex.personal.tests/bin/Debug/netcoreapp2.2
vuex.personal.tests/obj/Debug/netcoreapp2.2
vuex.Tests/obj/project.assets.json
vuex-personal/obj/project.assets.json
vuex-personal/obj/vuex-personal.csproj.nuget.dgspec.json
.vs/vuex-personal/DesignTimeBuild/*
vuex.Tests/obj/Debug/netcoreapp2.2/*
vuex.Tests/obj/*
