@{
  ViewData["Title"] = "RenderVue";
  var bundleUri = ViewBag.Uri;
}

<div id="app"></div> <!-- This is what links to to the 'el' property of the vue instance -->
<script src="~/bundle-files/Contacts.bundle-123.js"></script>
